* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background: #7e8599;
}

.container {
  
}

.form {
  display: flex;
  flex-direction: row;
}
.areaDeBusca {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.busca {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.busca img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}